h2 {
  font-size: 90px;
  color: rgb(111, 111, 223);
}

.weather-style {
  max-width: 600px;
  border: 1px solid grey;
  margin: 40px auto;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 0;
}

footer {
  margin: 0 auto;
  position: relative;
  max-width: 600px;
}

#current {
  list-style: none;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 20px;
}

#icon {
  padding-left: 90px;
  font-size: 100px;

  color: #dcdc24;
  border-radius: 5px;
}

#listWH {
  padding-top: 20px;
  list-style: none;
}

#lowTemp {
  padding-left: 15px;
}
