body {
  max-width: 900px;
  max-height: 700px;
  display: block;
  margin: 0 auto;
}
.container {
  margin-bottom: 20px;
}

h1 {
  font-size: 80px;
  color: rgb(93, 93, 201);
  font-family: "Bebas Neue", cursive;
}

h2 {
  font-size: 20px;
}
.weather-style {
  border: 1px solid grey;
  margin: 20px 40px;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 0;
  background: linear-gradient(to right, #d6a4a4, #dae2f8);
}
#icon {
  margin-left: 40px;
  height: 200px;
}
#description {
  text-transform: capitalize;
}
footer {
  margin: 0 auto;
  position: relative;
  max-width: 600px;
}

#current {
  list-style: none;
  font-size: 25px;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 0;
}

#temperature {
  font-size: 60px;
  padding-bottom: 20px;
  padding-right: 10px;
}
.wn {
  padding-left: 90px;
  font-size: 150px;
}

#listWH {
  padding-top: 0;
  list-style: none;
  font-size: 20px;
}

.col-6 {
  padding-right: 5px;
  padding-left: 10px;
}

.col-6 .active {
  cursor: default;
  color: black;
}

.col-6 .active:hover {
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
  line-height: 1;
}

i {
  font-size: 35px;
  color: grey;
}

.weather-forecast-temperature {
  font-size: 20px;
}

strong {
  padding-right: 10px;
}

.weather-forecast {
  padding-left: 10px;
  margin-left: 10px;
}
#search-form {
  margin-top: 15px;
}

#button {
  color: white;
  background-color: rgb(26, 120, 163);
}
