h1 {
  font-size: 90px;
  color: rgb(111, 111, 223);
  font-family: "Bebas Neue", cursive;
}

h2 {
  font-size: 20px;
}
.weather-style {
  max-width: 900px;
  border: 1px solid grey;
  margin: 40px auto;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 0;
}
#icon {
  margin-left: 40px;
  height: 200px;
}
#description {
  text-transform: capitalize;
}
footer {
  margin: 0 auto;
  position: relative;
  max-width: 600px;
}

#current {
  list-style: none;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 50px;
  margin-bottom: 0;
}

#temperature {
  font-size: 60px;
  padding-bottom: 20px;
  padding-right: 10px;
}
.wn {
  padding-left: 90px;
  font-size: 150px;
}

#listWH {
  padding-top: 20px;
  list-style: none;
  font-size: 30px;
}

.col-6 .active {
  cursor: default;
  color: black;
}

.col-6 .active:hover {
  text-decoration: none;
}
